@using issuemoa.Models.Global;
@model BoardModel
@{
    ViewBag.Title = "Articles";
}

<style>
    #sub-menu div {
        display: inline;
        font-size: x-large;
    }

    #big-issue-pic {
        text-align: center;
        margin-bottom: -3px;
    }
</style>


<div id="wrapper" style="max-width:1090px; width:100%; margin:0 auto; background:white">
    <div id="big-issue-pic">
        <img src="~/Images/@Model.SubNavBarModel.ImageUrl" width="1090" height="639">
    </div>

    <div id="issue-container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li class="pure-menu-selected">@Html.ActionLink(@Model.SubNavBarModel.IssueName, "Index", new { itemId = @Model.SubNavBarModel.IssueId }, new { @class = "navbar-brand" })</li>
                    <li class="pure-menu-selected">@Html.ActionLink("관련기사", "Articles", new { itemId = @Model.SubNavBarModel.ArticleBoardId }, new { @class = "navbar-brand" })</li>
                    <li class="pure-menu-selected">@Html.ActionLink("토론의 장", "Discussion", new { itemId = @Model.SubNavBarModel.DiscussionBoardId }, new { @class = "navbar-brand" })</li>
                    <li class="pure-menu-selected">@Html.ActionLink("후원하기", "Index", "Sponsorship", new { itemId = @Model.SubNavBarModel.IssueId }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
        </div>
        <div id="context-area">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th colspan="2">추천수</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                @foreach (ForumModel ThisForum in Model.Forums)
                {
                    <tr class="Forum" href="/Issues/Forum/@ThisForum.ForumId" style="cursor:pointer">
                        <td>@ThisForum.ForumId</td>
                        <td>@ThisForum.Title</td>
                        <td>@ThisForum.Writer.UserName</td>
                        <td>@ThisForum.UploadDate.ToShortDateString()</td>
                        <td class="recommendation"><img class="small-like-icon" src="~/Images/others/like.png" />@ThisForum.LikeCount</td>
                        <td class="recommendation"><img class="small-like-icon" src="~/Images/others/hate.png" />@ThisForum.HateCount</td>
                        <td>@ThisForum.ViewCount</td>
                    </tr>
                }
            </table>
        </div>
        <div class="pure-g">
            <div class="pure-u-21-24"></div>
            <button onclick="location.href='@Url.Action("Write", new { itemId = @Model.BoardId })';">글쓰기</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".Forum").click(function () {
            window.document.location = $(this).attr("href");
        });
    });


</script>

@Styles.Render("~/Content/discussion.css")
